footer {
  padding: 0px 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #3498db;

  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 5%;
  justify-content: center;
  /* align-items: center; */
}

/* Image */
.img-container-second {
  height: 100%;
  width: auto;
  overflow: hidden;
  position: relative;
}

.img-container-second > img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Text Side */
.contact-me-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.contact-me-header {
  font-size: 5em;
  font-weight: bold;
}

.specific-contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  font-size: 3em;
  justify-content: center;
}

.specific-contact-info-container div {
  display: flex;
  align-items: center;
}

.specific-contact-info-container .address-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.specific-contact-info-container #second-icon {
  justify-content: left;
}

#second-icon img:first-of-type {
  padding: 0px;
}

.phone-number > img,
.email-text > img {
  align-self: center;
  height: 30px;
  padding-right: 6px;
}
