body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
}

/* Images */
.img-container > img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

/* Name */
.person-name {
  margin-bottom: 10px;
  width: 100%;
  bottom: 0%;
  position: absolute;
  text-align: center;
  font-size: clamp(32px, 6vw, 5rem);
  color: white;
}

/* Header */
header {
  padding: 0px 5%;
  padding-top: 5%;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.header-outer-div {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: stretch;
  z-index: 2;
}

.header-outer-div > div {
  box-shadow: 2px 2px 8px black;
}

.header-bg {
  left: -50px;
  top: -76%;
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: #3498db;
  transform: skewY(-12deg);
  z-index: 1;
  box-shadow: 2px 2px 8px black;
}

.about-me {
  display: grid;
  margin: 40px 0;
  padding: 10px;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
}

.about-me-header-text {
  display: flex;
  align-items: center;
  margin: 0.67em 20px;
  font-size: clamp(3em, 5vw, 4rem);
}

.introduction-text {
  font-size: clamp(0.8em, 2.2vw, 2rem);
  margin: 0.67em 20px;
}

.other-link-icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0.67em 0px;
}

.other-link-icons > img {
  padding-left: 10px;
  height: clamp(20px, 40px, 50px);
}

@media (min-width: 1300px) {
  .img-container img {
    height: auto;
  }
}

@media (max-width: 1000px) {
  body {
    grid-template-rows: 1fr 2fr 1fr;
  }

  .header-outer-div {
    grid-template-columns: 1fr;
  }

  .about-me {
    height: 90%;
  }

  .img-container {
    position: absolute;
    left: -2%;
    height: 80%;
    width: 50%;
  }

  .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }

  .header-bg {
    top: -80%;
  }
}

@media (max-width: 700px) {
  body {
    grid-template-rows: 1fr 3fr 1fr;
  }
}
